@font-face {
  font-family: "SourceCodePro-Regular";
  src: url("../assets/fonts/SourceCodePro-Regular.eot");
  src: url("../assets/fonts/SourceCodePro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/SourceCodePro-Regular.woff") format("woff"),
    url("../assets/fonts/SourceCodePro-Regular.ttf") format("truetype"),
    url("../assets/fonts/SourceCodePro-Regular.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}
